* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Slab", serif;
}

/* NAVIGATION STYLES */
nav {
  width: 100;
  background-color: rgb(217, 215, 215);
  overflow: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

ul.nav-links {
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: center;
}

a.link {
  padding: 20px;
  text-decoration: none;
  color: black;
}
a.link:hover {
  text-decoration: underline rgb(164, 164, 245);
}
.navright {
  display: flex;
  gap: 20px;
}
